<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>my-app Home</title>
</head>
<body>
<h2>Welcome to my-app</h2>
<p> Insert a value to compute the sum</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <input type="integer" name="value-input" value="10">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Compute</button>
</form>

</body>

</html>

